$mar:  #41acd6;
$nuvem: #FFFFFF;





body{
    background-color: $mar;
    font-family: "Open Sans","Arial",  sans-serif;
    margin: 0px; // Diminuo a margin pro quadro das listas ficarem coladas no canto da página //
    margin-bottom: 100px; //Aumento a margin para que o footer não fique em cima do conteúdo em algumas resoluções //
    
    
    
}

p {
    padding-right: 100px; //Padding right no p pra que o texto não fique lá no canto//
    
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid #ffffff;
    margin-top: 50px; //Aumento a margin para que a imagem não fique colada no topo da página//
    
}

h1 {
    color: $nuvem;
}

h2 {
   color: $nuvem;
   font-family: "Bitter", "Verdana", serif;
   padding-top: 10px;
}

div {
    padding-left: 100px; //Pro texto não ficar colado na margem esquerda. Não preciso por novamente no div.lista pq aqui já vai pra ele tbm//
}

div.lista {
    background-color: #5a83c5;
    padding-bottom: 1px; //Pra caixa da lista ter um pouco de espaço//
    
}

footer{
    text-align: center;
    background-color: $nuvem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    padding: 1px 0;
    
    
}

